.font-text {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
}

.font-text--description {
  line-height: 26px;
  color: #333333;
}

.font-text--light {
  color: #ffffff;
}

.font-text--author {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  color: #333333;
}

.font-text--promt {
  line-height: 26px;
  color: #333333;
}
