.font-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
}

.font-title--dark {
  color: #000000;
}

.font-title--light {
  color: #ffffff;
}

.font-title--big {
  font-size: 21px;
  line-height: 26px;
}

.font-title--media {
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
}

.font-title--details {
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  color: #333333;
}

.font-title--answer {
  text-transform: none;
}
