.form__title {
  @include font-title;
  color: #000000;
}

.form__label {
  @include font-form-label;
  color: #333333;
}

.form__label--answer {
  @include font-form-label-answer;
  color: #000000;
  text-transform: none;
}
